.cover {
  display: flex;
  flex-direction: row;
}

.spine {
  flex-basis: 5vw;
  background-color: red;
  height: 80vh;
  margin: 1vh 0 1vh 0;
}

.frontPage {
  flex-basis: 95vw;
  height: 80vh;
  margin: 1vh 0 1vh 0;
  padding: 1vh;
}

.frontPageSmallContainer {
  display: flex;
  flex-direction: row;
}
.frontPageInfo {
  flex-basis: 30vw;
}
.pickaStory {
  align-self: flex-end;
  flex-basis: 40vw;
  text-align: left;
}
