body {
  font-family: 'Metamorphous', cursive;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #1C1B19;
}

h1 {
  text-align: center;
  color: #7C141F;
}

h1 span {
  font-size: .5em;
  display: block;
  color: #1C1B19;

}

.cover {
  display: flex;
  flex-direction: row;
}

.back-cover {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/back-cover.jpg');
  align-items: center;
  justify-content: center;
  padding-top: 300px;
}

.spine {
  background-color: #F1F2DF;
}

.spine img {
  width: 78%;
}

.page {
  flex-basis: 95vw;
  margin: 1vh 0 1vh 0;
  padding: 1vh;
  background-color: #F1F2DF;
}

.end-page {
  /*background-image: url('../images/back-cover.jpg');*/
}

.frontPageSmallContainer {
  display: flex;
  flex-direction: column;
}

.frontPageInfo {
  flex-basis: 30vw;
}

.pickaStory {
  align-self: flex-end;
  flex-basis: 40vw;
  text-align: left;
}

.images {
  display: flex;
  flex-direction: row;
}

.image {
  display: flex;
  margin: 2vh;
  border-style:  groove;
  padding: 1vh;
  flex-basis: 200px;
  justify-content: space-between;
  /*height: 15vh;*/

}

.image:first-child {
  margin-left: 0;
}

.gif {

}
.end {
  /*max-width: 80%;*/
  text-align: center;
  font-size: 7em;
  line-height: 1em;
  color: #1C1B19;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

#next-page {
  width: 95vw;
}

a {
  float: right;
  text-decoration: none;
  color: #7C141F;
}
input[type="text"] {
  font-family: 'Metamorphous', cursive;
  color: #7C141F;
  width: 5em;
  margin: 0 .5em;
}

input:focus {
  outline: none;
}

input, textarea {
  font-family: 'Metamorphous', cursive;
  border  : none;
  border-bottom: 1px solid #694B2A;
  padding : 0 10px;
  margin  : 0;
  background: none;
}
